@import "../styles";

h1 {
  margin-bottom: 0;
}

nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;

  a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;

    /* Grid */
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 10px;
    align-items: center;

    &:hover {
      color: white;
      background-color: $accent-color;
    }

    &:active {
      background-color: black;
    }
  }
}

svg {
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
}

#no-padding {
  padding: 0;
}
