/* HeroesComponent's private CSS styles */
@import "../../styles";

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  display: grid;
  grid-row-gap: 20px;

  li {
    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
    padding: 0 50px 0;
  }

  a {
    background-color: #eee;
    border-radius: 4px;
    height: 1.8em;
    text-decoration: none;
    color: black;

    /* Grid */
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    align-items: center;
    justify-items: start;
    justify-content: start;

    &:hover {
      color: #2c3a41;
      background-color: #e6e6e6;
      left: 0.1em;
    }

    &:active {
      background-color: #525252;
      color: #fafafa;
    }
  }

  .selected {
    background-color: black;
    color: white;

    &:hover {
      background-color: #505050;
      color: white;
    }

    &:active {
      background-color: black;
      color: white;
    }
  }

  .badge {
    font-size: small;
    color: white;
    background-color: $accent-color;
    border-radius: 4px 0 0 4px;
    aspect-ratio: 1 / 1;
    height: 100%;

    display: grid;
    justify-items: center;
    align-items: center;
  }

  .name {
    font-size: 14pt;
    width: 250px;
  }
}

.container {
  display: grid;
  padding: 0 20px 0;
}

.hero-input {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
  justify-items: start;
  justify-content: start;
  padding: 0;
}

.delete {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 10pt;
  font-family: Arial, sans-serif;
  width: 30px;
}
